{% extends 'base.html' %}

{% block header %}
    <h1><i class="fa-solid fa-laptop-code"></i> {% block title %}Backtest Simulation{% endblock %}
      <button onclick="location.href='/backtest/target_{{target_coin_id}}/setting'" class="backtest_back__btn" type="button">Back</button>
    </h1>

{% endblock %}

<!--[ BODY ]-->
{% block content %}

{# ---------------------- [1] BACKTESTING DASHBOARD ---------------------- #}
<section>
<h1 class="section_header_style"><i class="fa-solid fa-list-ul"></i> Backtesting Dashboard</h1>
</section>


<div class="backtesting_setting_info">
  {# ---------------------- [1-1] USER SETTING PART ---------------------- #}
  <section>
    <div class="backtesting_user_setting_part">
      <h1><i class="fa-solid fa-square"></i> User Setting</h1>

      <ul class="backtesting_user_setting_list">
        <!-- (1) Market -->
        <li>
          <label class="backtest_usersetting_market">Market : </label>
          <span class="backtest_usersetting__market__val user_setting__name">{{login_userDB["target_coin"+target_coin_id|string]["market"]}}</span>
        </li>

        <!-- (2) Period-->
        <li>
          <label class="backtesting_usersetting_peiod">Trading Period : </label>
          <span class="backtesting_usersetting_period__val">{{login_userDB["target_coin"+target_coin_id|string]["period"]}}</span>
        </li>

        <!-- (3) Monitoring Time -->
        <li>
          <label class="backtesting_usersetting_monitoringtime">Monitoring Time : </label>
          <span class="backtesting_usersetting_monitoringtime__val">{{strategyDB["monitoring_time"]}}</span>
        </li>

        <!-- (4) Simulation Data Number-->
        <li>
          <label class="backtesting_usersetting_datanumber">Data Number : </label>
          <span class="backtesting_usersetting_datanumber__val"></span> <!-- JS에서 계산 -->
        </li>

        <!-- (5) Strategy -->
        <li>
          <label class="backtesting_strategy_info">Strategy : </label>
          <span class="backtesting_strategy_info__val">{{strategyDB["name"]}} V{{strategyDB["version"]}}</span> <!-- JS에서 계산 -->
        </li>
      </ul>
    </div>
  </section>


  {# ---------------------- [1-2] TRAINING DATA ---------------------- #}
  <section>
    <div class="backtesting_trainingdata_part">
      <h1><i class="fa-solid fa-square"></i> Training Data</h1>

      <ul class="backtesting_trainingdata_list">
        <!-- (1) Training Period -->
        <li>
          <label class="backtest_trainingdata_period">Training Period : </label>
          <span class="backtest_trainingdata_period__val">{{backtest_setting_data["training_peiod"]}}</span>
        </li>

        <!-- (2) Training Data Unit -->
        <li>
          <label class="backtest_trainingdata_dataUnit">Data Unit : </label>
          <span class="backtest_trainingdata_dataUnit__val">{{backtest_setting_data["training_data_unit"]}}</span>
        </li>

        <!-- (3) Training Data Number -->
        <li>
          <label class="backtest_trainingdata_dataNumber">Data Number : </label>
          <span class="backtest_trainingdata_dataNumber_val"></span>
        </li>

        <!-- (4) Training Start Time-->
        <li>
          <label class="backtest_trainingdata_starttime">Start Time : </label>
          <span class="backtest_trainingdata_starttime__val">
            <!-- Time Format : YYYY-MM-DD HH:MM:SS -->
            {{backtest_setting_data["training_starttime_year"]}}-{{backtest_setting_data["training_starttime_month"]}}-{{backtest_setting_data["training_starttime_day"]}}

            {{backtest_setting_data["training_starttime_hour"]}}:{{backtest_setting_data["training_starttime_minute"]}}:00
          </span>
        </li>

        <!-- (5) Training End Time-->
        <li>
          <label class="backtest_trainingndata_endtime">End Time : </label>
          <span class="backtest_trainingdata_endtime__val"></span>  <!-- JS에서 계산 -->
        </li>

        <!-- (6) Max Price -->
        <li>
          <label class="backtest_trainingdata_maxPrice">Max Price : </label>
          <span class="backtest_trainingdata_maxPrice__val"></span>  <!-- backtest_run.js에서 계산 -->
        </li>

        <!-- (7) Min Price -->
        <li>
          <label class="backtest_trainingdata_minPrice">Min Price : </label>
          <span class="backtest_trainingdata_minPrice__val"></span> <!-- backtest_run.js에서 계산 -->
        </li>

        <!-- (8) Average Price -->
        <li>
          <label class="backtest_trainingdata_averagePrice">Average Price : </label>
          <span class="backtest_trainingdata_averagePrice__val"></span> <!-- backtest_run.js에서 계산 -->
        </li>
      </ul>
    </div>
  </section>


  {# ---------------------- [1-3] BACKTESTING SIMULATION DATA ---------------------- #}
  <section>
    <div class="backtesting_simulationdata_part">
      <h1><i class="fa-solid fa-square"></i> Backtesting Data</h1>


      <ul class="backtesting_simulationdata_list">
        <!-- (1) Simulation Period -->
        <li>
          <label class="backtest_simulationdata_period">Simulation Period : </label>
          <span class="backtest_simulationdata_period__val">{{login_userDB["target_coin"+target_coin_id|string]["period"]}}</span>  <!-- JS에서 계산 -->
        </li>

        <!-- (1) Simulation Data Unit -->
        <li>
          <label class="backtest_simulationdata_dataUnit">Data Unit : </label>
          <span class="backtest_simulationdata_dataUnit__val">{{strategyDB["monitoring_time"]}}</span>  <!-- JS에서 계산 -->
        </li>

        <!-- (3) Simulation Data Number -->
        <li>
          <label class="backtest_simulationdata_dataNumber">Data Number : </label>
          <span class="backtest_simulationdata_dataNumber__val"></span>  <!-- JS에서 계산 -->
        </li>

        <!-- (4) Simulation Start Time-->
        <li>
          <label class="backtest_simulationdata_starttime">Start Time : </label>
          <span class="backtest_simulationdata_starttime__val">
            <!-- Time Format : YYYY-MM-DD HH:MM:SS -->
            {{backtest_setting_data["backtest_starttime_year"]}}-{{backtest_setting_data["backtest_starttime_month"]}}-{{backtest_setting_data["backtest_starttime_day"]}}

            {{backtest_setting_data["backtest_starttime_hour"]}}:{{backtest_setting_data["backtest_starttime_minute"]}}:00
          </span>
        </li>

        <!-- (5) Simulation End Time-->
        <li>
          <label class="backtest_simulationdata_endtime">End Time : </label>
          <span class="backtest_simulationdata_endtime__val"></span>  <!-- JS에서 계산 -->
        </li>

        <!-- (6) Max Price -->
        <li>
          <label class="backtest_simulationdata_maxPrice">Max Price : </label>
          <span class="backtest_simulationdata_maxPrice__val"></span>  <!-- backtest_run.js에서 계산 -->
        </li>

        <!-- (7) Min Price -->
        <li>
          <label class="backtest_simulationdata_minPrice">Min Price : </label>
          <span class="backtest_simulationdata_minPrice__val"></span> <!-- backtest_run.js에서 계산 -->
        </li>

        <!-- (8) Average Price -->
        <li>
          <label class="backtest_simulationdata_averagePrice">Average Price : </label>
          <span class="backtest_simulationdata_averagePrice__val"></span> <!-- backtest_run.js에서 계산 -->
        </li>

      </ul>
    </div>
  </section>

  {# ------------------------------------------------------------------------------------- #}
</div>


{# ---------------------- [2] BACKTESTING MONITORING ---------------------- #}
<section>
  <h1 class="section_header_style"><i class="fa-solid fa-tv"></i> Backtesting Simulation</h1>

  <div class="training_n_backtesting_monitoring">
    <!-- < trading monitoring > -->
    <article>
      <div class="training_monitoring">
        <h1><i class="fa-solid fa-square"></i> Trading Monitoring</h1>

        <canvas class="training_Chart" id="training_Chart" width="400" height="400"></canvas>

        <ul class="training_status_list">
          <li>
            <label class="training_status__referencePrice">Reference Price : </label>
            <span class="training_status__referencePrice_val"></span>
          </li>

          <li>
            <label class="training_status__maxBiddingPrice">Max Bidding Price : </label>
            <span class="training_status__maxBiddingPrice_val"></span>
          </li>

          <li>
            <label class="training_status__minAskingPrice">Min Asking Price : </label>
            <span class="training_status__minAskingPrice_val"></span>
          </li>

        </ul>

      </div>
    </article>

    <!-- < backtesting monitoring > -->
    <article>
      <div class="backtesting_monitoring">
        <h1><i class="fa-solid fa-square"></i> Backtesting Monitoring</h1>

        <canvas class="backtest_Chart" id="backtest_Chart" width="400" height="400"></canvas>

        <ul class="backtest_status_list">
          <li>
            <label>Bid Installment Count : </label>
            <span></span>
          </li>

          <li>
            <label>Ask Installment Count : </label>
            <span></span>
          </li>

          <li>
            <label>Earning : </label>
            <span></span>
          </li>

          <li>
            <label>Earning Rate : </label>
            <span></span>
          </li>

          <li>
            <label>Trading Number : </label>
            <span></span>
          </li>

        </ul>
      </div>
    </article>
  </div>

</section>

  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">

{# ---------------------- [3] BACKTESTING RESULT ---------------------- #}
<section>
  <h1 class="section_header_style">Backtesting Result</h1>
</section>


{# ---------------------- [4] BACKTESTING LOG ---------------------- #}
<section>
  <h1 class="section_header_style">Backtesting Log</h1>
</section>

<script src="{{url_for('static', filename='backtest/backtest_run.js')}}"></script>

{% endblock %}
