{% extends 'base.html' %}

{% block header %}
  <h1> {% block title %} Edit {% endblock %} </h1>
{% endblock %}


{% block content %}
  <h1 class="EDIT_POST_HEADER__head section_header_style">Edit</h1>

  <form class="edit_post" method="post" action="edit_save">

    <label for="title">Title</label>
    <input name="title" id="title" required value="{{post['title']}}">

    <label for="type">Post Type</label>
      <select name="type" id="type">
          <option selected value="시황">A</option>
          <option value="종목토론">B</option>
          <option value="기타">C</option>
      </select>

    <label for="body">Body</label>
    <textarea name="body" id="body" required>{{post['body']}}</textarea>

    <div class="edit_button">
      <button type="submit">Save</button>
      <button type="button" onclick="location.href='/view_post/{{post['id']}}'">Cancel</button>
    </div>
  </form>
{% endblock %}
