{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}


{% block content %}
<form class="new_post" method="post" action="new_post/save">

  <label for="title">Title</label>
  <input name="title" id="title" required>

  <label for="type">Post Type</label>
    <select name="type" id="type">
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
      <option value="D">D</option>
    </select>

  <label for="body">Body</label>
  <textarea name="body" id="body" required>...</textarea>

  <div class="post_button">
    <button type="submit">Save</button>
    <button type="button" onclick="location.href='/'">Back</button>
  </div>
</form>
{% endblock %}
