{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} View {% endblock %} </h1>
{% endblock %}


{% block content %}
    <h1 class="VIEW_POST_HEADER__head section_header_style">Post</h1>

    <!-- Button -->
      <button type="submit" onclick="location.href='./{{post['id']}}/edit_post'">Edit</button>
      <button type="submit" onclick="location.href='./{{post['id']}}/delete_post'">Delete</button>


      <section class="EDIT_MODE">
      <div class="VIEW_POST_HEADER__info">
        <!--(1) header label section-->
        <label class="HEADER__header_index header_label">No</label>
        <label class="HEADER__header_title header_label">Title({{post['type']}})</label>
        <label class="HEADER__header_info header_label">Info</label>
        <!--(2) header data section-->
        <span class="HEADER__info_index">{{post['id']}}</span>
        <span class="HEADER__info_title">{{post['title']}}</span>
        <span class="HEADER__info_author_id">Author : {{post['author_id']}}</span>
        <span class="HEADER__info_created">Date : {{post['created']}}</span>
      </div>

      <h1 class="VIEW_POST_BODY__head">Content</h1>

      <div class="VIEW_POST_BODY__content">
        <p>
          {{post['body']}}
        </p>
      </div>
    </section>



  <!--Button Part-->
  <section class="VIEW_POST_BUTTON">
    <div class="POST_BUTTON_LIKE">
      <button type="button">Like</button>
      <button type="button">Dislike</button>
    </div>

    <div class="POST_BUTTON_BACK">
      <button type="button" onclick="location.href='/'">Back</button>
    </div>
  </section>
{% endblock %}
