<!doctype html>
<head> <!-- HEAD DEFINITION -->
    <title>{% block title %}ACT_R0{% endblock %}</title>

    <!-- [CSS] -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='monitoring.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home/post.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='account.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='setting.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='backtest/backtest.css') }}">


    <!-- [JAVASCRIPT] -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

    <script src="{{url_for('static', filename='variable.js')}}"></script>
    <script src="{{url_for('static', filename='calc_tool.js')}}"></script>
    <script src="{{url_for('static', filename='backtest/backtest_func.js')}}"></script>


    <!-- [ICON] -->
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/regular.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/solid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/v4-shims.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/v5-font-face.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/brands.css') }}">

    <script src="https://kit.fontawesome.com/3dbd9a16b0.js" crossorigin="anonymous"></script>


    <!-- [FAVICON] -->
    <link rel="apple-touch-icon" sizes="57x57" href="../static/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/favicon/apple-icon-152x152.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../static/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/favicon/favicon-96x96.png">
    <link rel="manifest" href="../static/favicon/manifest.json">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <!-- [NAVIGATION] -->
    <nav>
      <div class="nav_menu">
        <h1>Auto Coin Trader</h1>

        <ul class="nav_menu__list">
            <!-- (1) Home -->
            <li><a href="{{ url_for('index.home') }}"><i class="fa-solid fa-house-chimney"></i></a></li>

            <!-- (2) Account -->
            <li><a href="{{ url_for('account.account_index') }}"><i class="fa-solid fa-user"></i></a></li>

            <!-- (3) Setting -->
            <li><a href="{{ url_for('setting.index') }}"><i class="fa-solid fa-gear"></i></a></li>

            <!-- (4) Monitoring -->
            <li><a href="{{ url_for('monitoring.index') }}"><i class="fa-solid fa-chart-line"></i></a></li>

            <!-- (5) QnA -->
            <li><a href="{{ url_for('qna.index') }}"><i class="fa-solid fa-circle-question"></i></a></li>

            <!-- (6) Server Setting -->
            <li><a class="server_setting_link" style="display: none;" href="{{ url_for('server.index') }}"><i class="fa-solid fa-server"></i></a></li>
        </ul>
      </div>

      <div class="today_time">
        <span class="today_time__val">Today Time</span>
      </div>

      <script>
        let interval_time=1000; // 1 sec
        setInterval(function(){
          let today = new Date();

          let year = today.getFullYear(); // 년도
          let month = today.getMonth() + 1;  // 월
          let date = today.getDate();  // 날짜
          let day = today.getDay();  // 요일

          let hours = today.getHours(); // 시
          let minutes = today.getMinutes();  // 분
          let seconds = today.getSeconds();  // 초

          $('.today_time__val').text(year.toString()+'.'+(month).toString()+'.'+date.toString()+'  '+hours.toString()+":"+minutes.toString()+":"+seconds.toString());
        },interval_time);
      </script>
    </nav>

    <section class="content">
      <header>
        {% block header %}

        {% endblock %}

      </header>

      {% block content %}


      {% endblock %}
    </section>
</head>
