<!doctype html>
<head> <!-- HEAD DEFINITION -->
    <title>{% block title %}ACT_R0{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>

    <nav>
      <h1>Auto Coin Trader_R0</h1>
      <ul>
          <li><a href="{{ url_for('index.home') }}">Home</a>
          <li><a href="{{ url_for('account.account_index') }}">Account</a>
          <li><a href="{{ url_for('monitoring.index') }}">Monitoring</a>
      </ul>
    </nav>

    <section class="content">
      <header>
        {% block header %}

        {% endblock %}
      </header>

      {% block content %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <canvas id="line-chart" width="300" height="250"></canvas>

      {% endblock %}
    </section>
</head>