{% extends 'base.html' %}

<!--[ --- HEADER --- ]-->
{% block header %}
    <h1>{% block title %}Home{% endblock %}</h1>

    {% if g.user %}
      <a class="action" href="{{ url_for('blog.create') }}">New</a>
    {% endif %}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }}; <!--sets a global variable to the prefix to the root of the application.-->
    </script>

    <!-- Javascript Load -->
    <script src="{{url_for('static', filename='post.js')}}"></script>
{% endblock %}

<!--[ --- BODY --- ]-->
{% block content %}
<section class="INTRODUCTION">
</section>


<!--[ --- RANKING PART --- ]-->
<section class="Ranking">
  <h1 class="section_header_style USER__Header">User List</h1>

  <table class="User_list__table ">
    <tr class="User_table__header section_table_header_style">
      <th>Username</th>
      <th>Tier</th>
      <th>Performance</th>
      <th>Profile</th>
    </tr>

    {% set count1 = namespace(value=0) %}

    {% if users %} <!--User가 있는 경우-->
      {% for user in users if count1.value<10 %} <!--표시되는 User 10명으로 제한-->
        <tr class="user_{{loop.index}}_row">
          <td>{{user['username']}}</td>
          <td>{{user['tier']}}</td>
          <td>개발필</td>
          <td>개발필</td>
        </tr>
      {% set count1.value=count1.value+1 %}
      {% endfor %}
    {% endif %}
  </table>
</section>

<!-- FORUM PART -->
  <section class="POST">
    <h1 class="section_header_style FORUM__Header">Post Lists</h1>

    <div class="POST_button" >
        <form class="Post_button__search" method="post" >
            <div style="display:flex">
            <!-- (1) Filter -->
            <select name="Post_Filter" id="Post_Filter">
              <option value="date">Date</option>
              <option value="type">Type</option>
              <option value="popular">Popular</option>
              <option value="review">Review</option>
            </select>

            <!-- (2) Find -->
            <input name="Post_Filter_word" value="Search Title" class="post_find__input" type="text">
            <button name="Post_Filter_btn" onclick="window.location.href='{{ url_for('post.find_post')}}';" type="submit" class="post_find__button">Find</button>

            <!-- (3) New -->
            <button type="button" onclick="location.href='new_post'">New</button>
            </div>
        </form>
    </div>

    <div class="POST_list">
      <hr> <!--구분선-->

      <table class="POST_list__table">
        <!-- table header -->
        <tr class=list__table_header>
          <th>Date</th>
          <th>Type</th>
          <th>Title</th>
          <th>Author</th>
          <th>View</th>
          <th>Like</th>
          <th>Dislike</th>
        </tr>

        <!-- table body -->
        {% for post in posts %}
          <tr class="post_{{loop.index}}_row">
              <td class="post_{{loop.index}}_row_date">{{post['created']}}</td>
              <td class="post_{{loop.index}}_row_type">개발필</td>

              <td class="post_{{loop.index}}_row_title">
                <a href="view_post/{{loop.index}}">
                  {{post['title']}}
                </a> <!--post를 볼 수 있는 링크-->
              </td>

              <td class="post_{{loop.index}}_row_author">{{post['author_id']}}</td>
              <td class="post_{{loop.index}}_row_view">개발필</td>
              <td class="post_{{loop.index}}_row_like">개발필</td>
              <td class="post_{{loop.index}}_row_dislike">개발필</td>
          </tr>
        {% endfor %}
      </table>
    </div>



  </section>

{% endblock %}
