{% extends 'base.html' %}

<!--[ --- HEADER --- ]-->
{% block header %}
    <h1>{% block title %}Home{% endblock %}</h1>

    {% if g.user %}
      <a class="action" href="{{ url_for('blog.create') }}">New</a>
    {% endif %}

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }}; <!--sets a global variable to the prefix to the root of the application.-->
    </script>
{% endblock %}

<!--[ --- BODY --- ]-->
{% block content %}
  <section class="INTRODUCTION">
  </section>

<section>
    <h3>-----------------------DEBUG----------------------</h3>
      <form method="post" >
      <label for="username">Username</label>
      <input name="username" id="username" required>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
      <input type="submit" value="Register">
      </form>
    <h3>-----------------------DEBUG----------------------</h3>
    </section>


    <!--[ --- RANKING PART --- ]-->
    <section class="Ranking">
      <h1>User List</h1>

      {% if users %} <!--User가 있는 경우-->
        {% for user in users %}
          <li>{{user['username']}}</li>
        {% endfor %}
      {% endif %}
    </section>


<!-- FORUM PART -->
  <section class="FORUM">
    <h1 class="section_header_style FORUM__Header">Post Lists</h1>

    <div class="FORUM_button" >
        <form class="FORUM_button__search" >
            <div style="display:flex">
            <!-- (1) Filter -->
            <select name="Forum_Filter" id="Forum_Filter">
              <option value="date">Date</option>
              <option value="user">User</option>
              <option value="popular">Popular</option>
              <option value="review">Review</option>
            </select>

            <!-- (2) Find -->
            <input type="text"> <button>Find</button>

            <!-- (3) New -->
            <button type="button" onclick="location.href='new_post'">New</button>
            </div>
        </form>
    </div>

    <div class="FORUM_list">
      <hr> <!--구분선-->

      <table class="FORUM_list__table">
        <!-- table header -->
        <tr class=list__table_header>
          <th>Date</th>
          <th>Type</th>
          <th>Title</th>
          <th>Author</th>
          <th>View</th>
          <th>Like</th>
          <th>Dislike</th>
        </tr>

        <!-- table body -->
        {% for post in posts %}
          <tr class="post_{{loop.index}}_row">
              <td class="post_{{loop.index}}_row_date">{{post['created']}}</td>
              <td class="post_{{loop.index}}_row_type">개발필</td>

              <td class="post_{{loop.index}}_row_title">
                <a href="view_post?index={{loop.index}}&created={{post['created']}}&title={{post['title']}}&author_id={{post['author_id']}}">
                  {{post['title']}}
                </a> <!--post를 볼 수 있는 링크-->
              </td>

              <td class="post_{{loop.index}}_row_author">{{post['author_id']}}</td>
              <td class="post_{{loop.index}}_row_view">개발필</td>
              <td class="post_{{loop.index}}_row_like">개발필</td>
              <td class="post_{{loop.index}}_row_dislike">개발필</td>
          </tr>
        {% endfor %}
      </table>
    </div>



  </section>
{% endblock %}
