{% extends 'base.html' %}

<!--[ --- HEADER --- ]-->
{% block header %}
    <h1>{% block title %}Management{% endblock %}</h1>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }}; <!--sets a global variable to the prefix to the root of the application.-->
    </script>
{% endblock %}

<!--[ --- BODY --- ]-->
{% block content %}
  <h1>Management</h1>
  
  <button type="button" onclick="location.href='/send_mail'">User Mail</button>
  <button type="button" onclick="location.href='/register_manage'">Register</button>

  <button type="button" onclick="location.href='/account'">Back</button>
{% endblock %}
