{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Monitoring{% endblock %}</h1>
{% endblock %}

<!--[ BODY ]-->
{% block content %}

<section>
   <div class="TARGET_LIST">
       <h1 class="TARGET_LIST__header">Target Coin List</h1>

       {% set coin_number = namespace(value=0) %}               {# loop count #}

       {% for coin_ticker in trading_info["UPBIT_PART"]["TARGET_COIN"] %}
           <li class="{{coin_ticker}} coin_{{loop.index}}">
               {{coin_ticker}}
               <label class="{{coin_ticker}} coin_{{loop.index}}_state">Ready</label>
               <button class="{{coin_ticker}} coin_{{loop.index}}_Btn">show</button>
           </li>
           {% set coin_number.value = coin_number.value + 1 %}  {# loop count++ #}
       {% endfor %}

   </div>
</section>

<section>
   <div class="TARGET_MONITORING">
     <h1 class="TARGET_MONITORING__header">Target Coin Realtime Graph</h1>

     <div>
       <label class="TARGET_MONITORING__time">모니터링 시간 : </label> <span class="TARGET_MONITORING__time__val"></span>
     </div>

     <div>
       <label class="TARGET_MONITORING__curPrice">현재 가격 : </label> <span class="TARGET_MONITORING__curPrice__val"></span>
     </div>

     <div>
       <label class="TARGET_MONITORING__avgPrice">평균 가격 : </label> <span class="TARGET_MONITORING__avgPrice__val"></span>
     </div>

     <div>
       <label class="TARGET_MONITORING__maxPrice">최고 가격: </label> <span class="TARGET_MONITORING__maxPrice__val"></span>
     </div>

     <div>
       <label class="TARGET_MONITORING__minPrice">최저 가격: </label> <span class="TARGET_MONITORING__minPrice__val"></span>
     </div>
     <!--  그래프 설정  -->
     <canvas id="myChart" width="400" height="400"></canvas>
   </div>

</section>
    <!--  전역변수 설정  -->
    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }}; <!--sets a global variable to the prefix to the root of the application.-->
        let COIN_NUMBER="{{coin_number.value}}";
        let DEFAULT_TICKER="{{trading_info["UPBIT_PART"]["TARGET_COIN"][0]}}";   <!--default 선정기준 : 첫 번째 Target 코인 -->

    </script>
    <!--   전역변수 설정   -->

    <script src="{{url_for('static', filename='monitoring.js')}}"></script>

{% endblock %}
