{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Monitoring{% endblock %}</h1>
{% endblock %}

<!--[ BODY ]-->
{% block content %}

<p><a href=# id=calculate>calculate server side</a>

  <h1>CANMCA</h1>

   <div class="TARGET_LIST">
       <h1 class="TARGET_LIST">Target Coin List</h1>

       {% set coin_number = namespace(value=0) %}               {# loop count #}

       {% for coin_ticker in trading_info["UPBIT_PART"]["TARGET_COIN"] %}
           <li class="{{coin_ticker}} coin_{{loop.index}}">
               {{coin_ticker}}
               <label class="{{coin_ticker}} coin_{{loop.index}}_state">Ready</label>
               <button class="{{coin_ticker}} coin_{{loop.index}}_Btn">show</button>
           </li>
           {% set coin_number.value = coin_number.value + 1 %}  {# loop count++ #}
       {% endfor %}

   </div>

    <!--  그래프 설정  -->
    <canvas id="myChart" width="400" height="400"></canvas>

    <!--  전역변수 설정  -->
    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }}; <!--sets a global variable to the prefix to the root of the application.-->
        let COIN_NUMBER="{{coin_number.value}}";
        let DEFAULT_TICKER="{{trading_info["UPBIT_PART"]["TARGET_COIN"][0]}}";   <!--default 선정기준 : 첫 번째 Target 코인 -->

    </script>
    <!--   전역변수 설정   -->

    <script src="{{url_for('static', filename='monitoring.js')}}"></script>

{% endblock %}