{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Account{% endblock %}</h1>
{% endblock %}

{% block content %}

<section class="PROFILE_PART">
    <h1>Profile</h1>

    <div class="PROFILE">
        <div class="PROFILE_IMG">
            <img src="{{url_for('static', filename='profile.png')}}"  width="200" height="200" alt="My Image">
        </div>

        <div class="PROFILE_PERSONAL">
            <!-- 1. Username -->
            <div>
                <label class="PERSONAL__username">1. Username : </label> <span class="PERSONAL__username_data">{{user_info["username"]}}</span>
            </div>

            <!-- 2. Email -->
            <div>
                <label class="PERSONAL__email">2. E-mail : </label> <span class="PERSONAL__email_data">{{user_info["email"]}}</span>
            </div>

            <!-- 3. Tier -->
            <div>
                <label class="PERSONAL__tier">3. Tier : </label> <span class="PERSONAL__tier_data">{{user_info["tier"]}}</span>
            </div>

            <!-- 4. Reference -->
            <div>
                <label class="PERSONAL__reference">4. Reference : </label> <span class="PERSONAL__reference_data">개발필</span>
            </div>
        </div>
    </div>

    <form method="post" action="logout">
        <input type="submit" value="Log Out">
    </form>
</section>


<section class="PERFORMANCE_PART">
<h1>Performance</h1>

    <h2>계좌 정보</h2>
    <div class="ACCOUNT_DISPLAY">
        <!-- Update 날짜 -->
        <div>
            <label>Update Time : </label>

            <span class="DISPLAY__updatetime_val">

            </span>
        </div>

        <!-- 보유 현금 -->
        <div>
            <label>현금 현황 : </label>

            <span class="DISPLAY__cash_balance_val">

            </span>
        </div>

        <!-- 보유 코인 -->
        <div>
            <label>코인 현황 : </label>

            <span class="DISPLAY__coin_balance_val">

            </span>
        </div>

        <!-- 원금 -->
        <div>
            <label>원금 : </label> <span class="DISPLAY__principal_val">개발필</span>
        </div>

    </div>

    <h2>거래 실적</h2>
    <div class="TRADING_DISPLAY">
        <!-- 오늘 정보 -->
        <div>
            <label>Today : </label> <span>asdasd</span>
        </div>

        <!-- 지난 실적 -->
        <div>
            <label>History : </label> <span>asdasd</span>
        </div>
    </div>
</section>


<section class="LOG_PART">
    <h1>Trading Log</h1>
    <P>: 최근 10개의 거래 기록</P>
</section>
{% endblock %}
