{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}

  <p>Welcome to ACT_R0</p>

<form method="post" >
    <label for="email">Email</label>
    <input name="email" id="email" required>

    <label for="username">Username</label>
    <input name="username" id="username" required>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>

    <div class="register_button">
      <button type="submit"  formaction="register/ok">Confirm</button>
      <button type="button" onclick="location.href='/'">Back</button>
    </div>
</form>


{% endblock %}