.backtesting_setting_info{
    display:flex;
}

.backtesting_simulation{
    display:flex;
}

.backtest_timesetting_div{
    display:flex;
}

.training_timesetting_div{
  display:flex;
}


.training_n_backtesting_monitoring{
  display:flex;
}
